

body{
    padding: 0;
    margin: 0;
}

section{
    padding-bottom: 50px;
    height: 450px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* ------------ styling navbar ------------ */
.logo{
    display: inline-block;
    padding-left: 70px;
    padding-top: 15px;
    font-family: 'Pirata One', cursive;
    color: rgb(246, 10, 10);
}
.bottom-border{
    border-bottom: 3px solid blueviolet;
}
.navbar{
    height: 80px;
    background-color: rgb(237, 243, 245);
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    float: right;
    
}
.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 20px;
}
.nav li a{
    text-decoration: none;
    color: black;
}

/*----------- top banner and about section style -------------- */

img{
    width: 100%;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding: 1%;
}
.title-highlight{
    color: #060e6e;
    font-size: 50px;
}
.orange-highlight{
    color: #FF8367;
    font-size: 50px;
}
.about-para{
    font-size: 18px;
    text-align: justify;
}

.link-button{
    padding: 10px 20px;
    background-image: linear-gradient(45deg, red, yellow);
    color: white;
    border-radius: 7px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

/* ------------ skill -------------------*/

.skills{
    text-align: center;
    height: 220px;
}
.skillset ul li{
    display: inline-block;
    margin: 15px;
    padding: 15px;
    background-image: linear-gradient(rgb(78, 67, 116), rgb(49, 11, 109));
    font-size: 30px;
    color:rgb(237, 243, 245);
    font-family: 'Hanalei Fill', cursive;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
/* ----------- letest working project ------------------ */
.projects{
    background-color: #F8F9FC;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 570px;
    margin-bottom: 20px;
}
.projects h2{
    text-align: center;
}

.card{
    width: 28%;
    float: left;
    margin-left: 3%;
    padding: 10px;
    box-shadow: 5px 5px 20px;
    border-radius: 10px;
}

/*--------- message or inquary section desigh --------- */
.message{
    padding-top: 50px;
    height: 230px;                        ;
}
.quary{
    width: 70%;
    height: 225px;
    margin: auto;
    background-image: url("images/quary.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
#ask{
    display: inline-block;
    color: white;
    padding: 70px;
}
#talk{
    display: inline-block;
}
/* -------- scial media icon desing --------- */
.social{
    height: 150px;
    background-color: brown;
    padding: 20px;
    text-align: center;
}
.media-icon img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

/* ---------- footer desing ------------*/
footer{
    height: 70px;
    background-color: black;
    color: white;
}
footer p{
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}